*{ /* 전체 선택자 - 태그 요소들의 마진과 패딩을 0으로 설정 */
    margin: 0; padding: 0;
    box-sizing: border-box;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    width: 100%;
    /* 넓이는 아예 생략하거나,
    978px(테두라외 패딩을 제외한 값),
    또 다른 방법도 있음!! 아직 안알려주심...border box? */
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px;

}
section{
    width: 620px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;

}
aside{
    width: 320px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    float: right;
    background: #eee;

}
footer{
    width: 100;
    /* 여기도 넓이 생략 가능!! */
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    clear: both;

}